
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Danh sách câu hỏi tư vấn</h4>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                }
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style="color:#0d6efd ">
                        <tr style="background-color: darkgrey">
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Câu hỏi</th>
                            <th>Ngày gửi</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var stt = 1;}
                        @foreach (var item in ViewBag.List)
                        {
                            <tr>
                                <td style="width:10px">@stt</td>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Question
                                </td>
                                <td>
                                    @String.Format("{0:dd-MM-yyyy}", item.Created)
                                </td>
                                <td>
                                    @{
                                        var idModelDel = "exampleModalDel" + item.IdAdvise;
                                    }
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-warning"> Trả lời</button>
                                </td>
                                <div class="modal fade" id="@idModelDel" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Trả lời cho câu hỏi của @item.FullName</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                Câu hỏi : @item.Question
                                                <form action="/AdminAdvise/Reply" method="post" style="margin-top : 10px !important">
                                                    <input type="hidden" class="form-control" id="id" name="IdAdvise" value="@item.IdAdvise">
                                                    <textarea class="form-control" name="Reply" rows="6" cols="10" placeholder="Nhập câu trả lời"></textarea>
                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button style="width:100px" type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button style="width:150px" type="submit" class="btn btn-warning"> Gửi câu trả lời</button>
                                                    </div>
                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </tr>
                            stt++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

